main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 2px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

app-square{
    height: 200px;
}
mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
